#main
  #image
    = image_tag('header.png', :class => 'centered-header')
  #content
    #desc
      %h2 Hi, I'm @CrazyDancingGuy
      %p I love to dance, and so I do it a lot.  Often, when I'm out dancing, people watch or even record my antics.
      %p The other day I thought, "if I am going to spend hours every week with people watching me dance, I might as well seize that opportunity to speak up for the things I care about."
      %p So I created the CrazyDancingGuy persona.  Now when I go out dancing, I will wear a shirt in support of climate justice, gender equality and social justice.
      %p My shirt will also encourage onlookers to share dancing videos / pics and tag the causes they care about.
      %p It's a crazy idea.  It may not work at all.  But I'm going have fun trying.  Why not?
      %h2 #crazydancingguy
