%ul#navigation.slimmenu
  %li
    =link_to "HOME", root_path
  %li
    =link_to "ABOUT", pages_path("about")
  %li
    %a{:href => ""} THE CAUSES
  %li
    =link_to "VIDEOS", pages_path("videos")
  %li
    %a{:href => ""} CONTACT

